@model HomeViewModel

<link href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
<script>
    AOS.init();
</script>
<section class="home-two-slide d-flex align-items-center">
    <div class="container">
        <div class="row ">
            <div class="col-lg-8 col-12" >
                <div class="home-slide-face">
                    <div class="home-slide-text ">
                        <h5>The Leader in Online Learning</h5>
                        <h1>Engaging & Accessible Online Courses For All</h1>
                    </div>
                    <div class="banner-content">
                        <form class="form" name="store" id="store" method="get" action="/home/search">
                            <div class="form-inner">
                                <!-- Flexible Search Input -->
                                <div class="input-group">
                                    <input type="text" name="name" class="form-control" placeholder="Tìm kiếm theo tên khóa học, thể loại, tên người dạy hoặc giá...">
                                    <button class="btn btn-primary sub-btn" type="submit">Tìm kiếm</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

        <div class="shapes">
            <img class="shapes-one" src="~/assets/img/bg/home-right.png" alt="Img">
            <img class="shapes-two" src="~/assets/img/bg/home-right-bottom.png" alt="Img">
            <img class="shapes-middle" src="~/assets/img/bg/home-middle.png" alt="Img">
            <img class="shapes-four wow animate__animated animate__slideInLeft" src="~/assets/img/bg/home-left.png" alt="Img">
        </div>

    </div>
</section>


<!--<section class="about-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 wow fadeInLeft order-lg-1 order-xs-2 order-sm-2" data-aos="fade-up">
                <div class="header-two-title">
                    <p class="tagline">Learn with DreamLMS</p>
                    <h2 class="mb-0">Get Trained By Experts & Professionals around the World</h2>
                </div>
                <div class="header-two-title">
                    <p class="about-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quam dolor
                        fermentum massa viverra congue proin. A volutpat eget ultrices velit nunc orci. Commodo
                        quis integer a felis ac vel mauris a morbi. Scelerisque nunc accumsan elementum aenean
                        nisl lacinia. Congue enim aliquet ac vitae turpis. Neque, bibendum imperdiet sed
                        ullamcorper morbi amet. Facilisi odio amet, nunc quam ut nulla purus adipiscing
                        pharetra.
                    </p>
                    <div class="about-button more-details">
                        <a href="course-list.html" class="discover-btn">Learn more <i class="fas fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 order-lg-2 order-xs-1 order-sm-1">
                <div class="stylist-gallery">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12" data-aos="fade-down">
                            <div class="about-image count-one d-flex align-items-center justify-content-center flex-fill project-details">
                                <div class="about-count">
                                    <div class="course-img">
                                        <img src="~/assets/img/icon/count-one.svg" alt="Img">
                                    </div>
                                    <div class="count-content-three course-count ms-0">
                                        <h4><span class="counterUp">10</span>K</h4>
                                        <p class="mb-0">Online Courses</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12" data-aos="fade-down">
                            <div class="about-image count-two d-flex align-items-center justify-content-center flex-fill project-details">
                                <div class="about-count">
                                    <div class="course-img">
                                        <img src="~/assets/img/icon/count-two.svg" alt="Img">
                                    </div>
                                    <div class="count-content-three course-count ms-0">
                                        <h4><span class="counterUp">215</span>+</h4>
                                        <p class="mb-0">Expert Tutors</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12" data-aos="fade-right" data-wow-delay="1.5">
                            <div class="about-image count-three d-flex align-items-center justify-content-center flex-fill project-details">
                                <div class="about-count">
                                    <div class="course-img">
                                        <img src="~/assets/img/icon/count-three.svg" alt="Img">
                                    </div>
                                    <div class="count-content-three course-count ms-0">
                                        <h4><span class="counterUp">10</span>K</h4>
                                        <p class="mb-0">Ceritified Courses</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-12" data-aos="fade-left" data-wow-delay="0.5">
                            <div class="about-image count-four d-flex align-items-center justify-content-center flex-fill project-details">
                                <div class="about-count">
                                    <div class="course-img">
                                        <img src="~/assets/img/icon/count-four.svg" alt="Img">
                                    </div>
                                    <div class="count-content-three course-count ms-0">
                                        <h4><span class="counterUp">10</span>K</h4>
                                        <p class="mb-0">Online Students</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>-->


<section class="topcategory-sec">
    <div class="container">
        <div class="header-two-title text-center" data-aos="fade-up">
            <p class="tagline">Thể Loại</p>
            <h2>Top Thể Loại</h2>
            <div class="header-two-text">
                <p class="mb-0">
                    Những thể loại có trong Lotus Academy<br/>
                    mà bạn không thể bỏ qua
                </p>
            </div>
        </div>
        <div class="top-category-group">
            <div class="row">
                @if (Model.Categories != null && Model.Categories.Any())
                {
                    foreach (var cate in Model.Categories)
                    {
                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 d-flex" data-aos="fade-down">
                            <div class="categories-item flex-fill">
                                <div class="categories-icon">
                                    <img src="~/assets/img/category/category-1.svg" alt="@cate.Name">
                                </div>
                                <div class="categories-content">
                                    <h3>@cate.Name</h3>
                                    <!--<p>40 Instructors</p>-->
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>

    </div>
</section>


<section class="featured-courses-sec">
    <div class="patter-one-main">
        <img class="patter-one" src="~/assets/img/bg/patter-one.png" alt="Img">
    </div>
    <div class="container">
        <div class="header-two-title text-center" data-aos="fade-up">
            <p class="tagline">Khóa học</p>
            <h2>Khóa học chất lượng</h2>
            <div class="header-two-text m-auto text-center d-block">
                <p class="mb-0">
                   Những khóa học của Lotus Academy <br/>
                   có chất lượng tốt nhất
                </p>
            </div>
        </div>
        <div class="featured-courses-two">
            <div class="row">
                @if (Model.Courses != null && Model.Courses.Any()){
                foreach (var course in Model.Courses.Take(6))
                {
                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 d-flex" data-aos="fade-down">
                        <div class="featured-details-two">
                            <div class="product-item-two">
                                <div class="product-img-two">
                                    <a href="/home/detail?id=@course.CourseID">
                                        <img class="img-fluid" alt="Img" src="@course.Image" style="max-height: 328px;">
                                    </a>
                                    <div class="price-text">
                                        <h4><span>@course.Category?.Name</span></h4>
                                    </div>
                                </div>
                                <div class="course-details-content">
                                    <div class="image-info">
                                        <img class="img-fluid" alt="Img" src="~/Lotus.png">
                                    </div>
                                    @*  <div class="rating">
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <span class="ms-3">203 reviews</span>
                                </div>
                                *@
                                    <div class="name-text featured-info-two">
                                        <h3 class="title instructor-text">
                                            <a href="/home/detail?id=@course.CourseID">
                                                @course.Title
                                            </a>
                                        </h3>
                                        <p class="me-3">
                                            By<span class="text-danger ms-2">@course.Author?.FullName</span>
                                        </p>
                                    </div>
                                    <div class="featured-info-time d-flex align-items-center">
                                        <div class="hours-time-two d-flex align-items-center">
                                            <span><i class="fa-regular fa-clock me-2"></i></span>
                                            @{
                                                var chapters = course.Chapters?.ToList();
                                                double totalCourseDuration = chapters?
                                                .Sum(chapter => chapter.Lessons.Sum(lesson => lesson.Duration)) ?? 0;

                                                int hours = (int)(totalCourseDuration / 3600);
                                                int minutes = (int)((totalCourseDuration % 3600) / 60);
                                                int seconds = (int)(totalCourseDuration % 60);
                                            }
                                            <p>
                                                @if (hours > 0)
                                                {
                                                    @($"{hours} giờ{(hours > 1 ? "" : "")} ")
                                                }
                                                @if (minutes > 0)
                                                {
                                                    @($"{minutes} phút{(minutes > 1 ? "" : "")} ")
                                                }
                                                @if (seconds > 0)
                                                {
                                                    @($"{seconds} giây{(seconds > 1 ? "" : "")}")
                                                }
                                                @if (hours == 0 && minutes == 0 && seconds == 0)
                                                {
                                                    @("0 giây")
                                                }
                                            </p>
                                        </div>
                                        <div class="course-view d-inline-flex align-items-center">
                                            <div class="course-price">
                                                <h3>@{
                                                        var price = course.Price * (1 - course.Discount / 100M);
                                                    }
                                                    @price.ToString("N0") đ
                                                    <span>@course.Price.ToString("N0") đ </span>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                }
            </div>
        </div>

        <div class="col-lg-12" data-aos="fade-up">
            <div class="more-details text-center">
                <a href="/home/search" class="discover-btn">Xem tất cả khóa học <i class="fas fa-arrow-right ms-2"></i></a>
            </div>
        </div>

    </div>
</section>


<section class="growup-section">
    <div class="home-two-shapes">
        <img src="~/assets/img/bg/home-right-bottom.png" alt="Img">
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-5 col-12" data-aos="fade-right">
                <div class="growup-images-two">
                    <div class="growup-skills-img">
                        <img class src="~/assets/img/skil-01.png" alt="image-banner" title="image-banner">
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-7 col-12 wow fadeInLeft" data-aos="fade-left">
                <div class="header-two-title">
                    <p class="tagline">Growup Your Skill</p>
                    <h2 class="text-navy">Learn Anything you want today</h2>
                    <div class="header-two-text">
                        <p class="mb-0">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quam dolor
                            fermentum massa viverra congue proin. A volutpat eget ultrices velit nunc orci.
                            Commodo quis integer a felis ac vel mauris a morbi. Scelerisque nunc accumsan
                            elementum aenean nisl lacinia. Congue enim aliquet ac vitae turpis. Neque, bibendum
                            imperdiet sed ullamcorper morbi amet. Facilisi odio amet, nunc quam ut nulla purus
                            adipiscing pharetra.
                        </p>
                    </div>
                </div>
                <div class="about-button more-details">
                    <a href="register.html" class="discover-btn">Join Today <i class="fas fa-arrow-right ms-2"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="master-skills-sec">
    <div class="container">
        <div class="header-two-title text-center" data-aos="fade-up">
            <p class="tagline">What’s New</p>
            <h2>Master the skills to drive your career</h2>
            <div class="header-two-text" data-aos="fade-up">
                <p class="mb-0">
                    Get certified, master modern tech skills, and level up your career — whether
                    you’re starting out or a seasoned pro. 95% of eLearning learners report our hands-on content
                    directly helped their careers.
                </p>
            </div>
        </div>

        <div class="course-info-two">
            <div class="row align-items-center">

                <div class="col-lg-6 col-md-12 order-lg-0 order-md-0 order-0" data-aos="fade-up">
                    <div class="join-title-one">
                        <h2>Award Winning Course Management</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quam dolor fermentum massa
                            viverra congue proin. A volutpat eget ultrices velit nunc orci. Commodo quis integer
                            a felis ac vel mauris a morbi. Scelerisque nunc accumsan elementum aenean nisl
                            lacinia. Congue enim aliquet ac vitae turpis. Neque, bibendum imperdiet sed
                            ullamcorper morbi amet. Facilisi odio amet, nunc quam ut nulla purus adipiscing
                            pharetra.
                        </p>
                    </div>
                </div>


                <div class="col-lg-6 col-md-12 order-lg-1 order-md-1 order-1" data-aos="fade-up">
                    <div class="join-mentor-img">
                        <div class="winning-two-one">
                            <img src="~/assets/img/skills/skills-01.jpg" alt="Img" class="img-fluid">
                        </div>
                        <div class="joing-icon-award">
                            <img src="~/assets/img/bg/skill-icon-01.png" alt="Img" class="joing-icon-one img-fluid">
                        </div>
                    </div>
                </div>


                <div class="col-xl-6 col-lg-7 col-md-12 order-lg-2 order-md-3 order-3" data-aos="fade-up">
                    <div class="join-mentor-img">
                        <div class="winning-two-two">
                            <img src="~/assets/img/skills/skills-02.jpg" alt="Img" class="img-fluid">
                        </div>
                    </div>
                    <div class="joing-icon-award">
                        <img src="~/assets/img/bg/skill-icon-02.png" alt="Img" class="joing-icon-two img-fluid">
                    </div>
                </div>


                <div class="col-xl-6 col-lg-5 col-md-12 order-lg-3 order-md-2 order-2" data-aos="fade-up">
                    <div class="join-title-middle">
                        <h2>Award Winning Course Management</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quam dolor fermentum massa
                            viverra congue proin. A volutpat eget ultrices velit nunc orci. Commodo quis integer
                            a felis ac vel mauris a morbi. Scelerisque nunc accumsan elementum aenean nisl
                            lacinia. Congue enim aliquet ac vitae turpis. Neque, bibendum imperdiet sed
                            ullamcorper morbi amet. Facilisi odio amet, nunc quam ut nulla purus adipiscing
                            pharetra.
                        </p>
                    </div>
                </div>


                <div class="col-xl-6 col-lg-7 col-md-12 order-lg-4 order-md-4 order-4" data-aos="fade-up">
                    <div class="join-title-one">
                        <h2>Certification for solid development of your Carrer</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quam dolor fermentum massa
                            viverra congue proin. A volutpat eget ultrices velit nunc orci. Commodo quis integer
                            a felis ac vel mauris a morbi. Scelerisque nunc accumsan elementum aenean nisl
                            lacinia. Congue enim aliquet ac vitae turpis. Neque, bibendum imperdiet sed
                            ullamcorper morbi amet. Facilisi odio amet, nunc quam ut nulla purus adipiscing
                            pharetra.
                        </p>
                    </div>
                </div>


                <div class="col-xl-6 col-lg-5 col-md-12 order-lg-5 order-md-5 order-5" data-aos="fade-up">
                    <div class="join-mentor-img mb-0">
                        <div class="winning-two-three">
                            <img src="~/assets/img/skills/skills-03.jpg" alt="Img" class="img-fluid">
                        </div>
                    </div>
                    <div class="joing-icon-award">
                        <img src="~/assets/img/bg/skill-icon-03.png" alt="Img" class="joing-icon-three img-fluid">
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>


<section class="testimonial-sec">
    <div class="container">
        <div class="testimonial-two-img">
            <img src="~/assets/img/bg/map-user.png" alt="Img" class="img-fluid">
        </div>
    </div>
</section>


<section class="trending-course-sec">
    <div class="container">
        <div class="header-two-title text-center" data-aos="fade-up">
            <p class="tagline">Khóa học</p>
            <h2>Khóa học mới nhất</h2>
            <div class="header-two-text m-auto text-center d-block">
                <p class="mb-0">
                    Những khóa học mới nhất <br />
                    do Lotus Academy bình chọn
                </p>
            </div>
        </div>

        <div class="trending-course-main">
            <div class="row">
                @if (Model.Courses != null && Model.Courses.Any())
                {
                    foreach (var newCourse in Model.Courses.OrderByDescending(c => c.CreatedDate))
                    {
                          
                                                var chapters = newCourse.Chapters?.ToList();
                                                double totalCourseDuration = chapters?
                                                .Sum(chapter => chapter.Lessons.Sum(lesson => lesson.Duration)) ?? 0;

                                                int hours = (int)(totalCourseDuration / 3600);
                                                int minutes = (int)((totalCourseDuration % 3600) / 60);
                                                int seconds = (int)(totalCourseDuration % 60);
                                            
                        <div class="col-xl-6 col-lg-12 col-md-12" data-aos="fade-down">
                            <div class="trending-courses-group">
                                <div class="trending-courses-two">
                                    <div class="product-img course-column-img">
                                        <a href="instructor-profile.html">
                                            <img class="img-fluid" alt="Img" src="@newCourse.Image" style="max-height:176px;">
                                        </a>
                                        <div class="trending-price">
                                            <h4><span>@newCourse.Category?.Name</span></h4>
                                        </div>
                                    </div>
                                    <div class="course-content-column">
                                        <div class="trending-two-rating align-items-center">
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                            <i class="fas fa-star filled"></i>
                                        </div>
                                        <div class="name-text featured-info-two">
                                            <h3 class="title instructor-text">
                                                <a href="course-details.html">
                                                    @newCourse.Title
                                                </a>
                                            </h3>
                                            <div class="time-hours-two">
                                                <span><i class="fa-regular fa-clock me-2"></i></span>
                                                <p>
                                                    @if (hours > 0)
                                                    {
                                                        @($"{hours} giờ{(hours > 1 ? "" : "")} ")
                                                    }
                                                    @if (minutes > 0)
                                                    {
                                                        @($"{minutes} phút{(minutes > 1 ? "" : "")} ")
                                                    }
                                                    @if (seconds > 0)
                                                    {
                                                        @($"{seconds} giây{(seconds > 1 ? "" : "")}")
                                                    }
                                                    @if (hours == 0 && minutes == 0 && seconds == 0)
                                                    {
                                                        @("0 giây")
                                                    }
                                                </p>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center">
                                            <div class="rating-price-two d-flex align-items-center">
                                                <p>@newCourse.Author?.FullName</p>
                                            </div>
                                            <div class="course-view d-inline-flex align-items-center">
                                                <div class="course-price-two">
                                                    <h3>
                                                        @{
                                                            var price = newCourse.Price * (1 - newCourse.Discount / 100M);
                                                        }

                                                        <h3>@price.ToString("N0") đ</h3>
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>


        <div class="col-lg-12" data-aos="fade-up">
            <div class="more-details text-center">
                <a href="/home/search" class="discover-btn">Xem tất cả khóa học <i class="fas fa-arrow-right ms-2"></i></a>
            </div>
        </div>

    </div>
</section>


<section class="real-reviews-sec">
    <div class="container">
        <div class="header-two-title text-center" data-aos="fade-up">
            <p class="tagline">Check out these real reviews</p>
            <h2>Users-love-us Don't take it from us</h2>
            <div class="header-two-text text-center m-auto">
                <p class="mb-0">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget aenean accumsan
                    bibendum gravida maecenas augue elementum et neque. Suspendisse imperdiet.
                </p>
            </div>
        </div>
        <div class="real-reviews-group">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12 col-sm-12" data-aos="fade-up">
                    <div class="reviews-img">
                        <img src="~/assets/img/reviews-img-two.png" alt="Img" class="img-fluid">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-md-12" data-aos="fade-up">
                    <div class="owl-carousel real-reviews owl-theme">
                        <div class="item">
                            <div class="real-reviews-grid">
                                <div class="review-content">
                                    <h3>Helps us to improve our productivity</h3>
                                    <p>
                                        High-definition video is video of higher resolution and quality than
                                        standard-definition. While there is no standardized meaning for
                                        high-definition, generally any video.High-definition video is video of
                                        higher resolution and quality than standard-definition. While there is
                                        no standardized meaning for high-definition, generally any
                                        video.High-definition video is video of higher resolution and quality
                                        than standard-definition. While there is no standardized meaning for
                                        high-definition, generally any video.High-definition video is video of
                                        higher resolution and quality than standard-definition. While there is
                                        no standardized meaning for high-definition, generally any video.
                                    </p>
                                </div>
                                <div class="review-top">
                                    <div class="review-info">
                                        <h3 data-aos="fade-up">William George</h3>
                                        <h5 data-aos="fade-up">CEO & Chairman</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="real-reviews-grid">
                                <div class="review-content">
                                    <h3>Helps us to improve our productivity</h3>
                                    <p>
                                        High-definition video is video of higher resolution and quality than
                                        standard-definition. While there is no standardized meaning for
                                        high-definition, generally any video.High-definition video is video of
                                        higher resolution and quality than standard-definition. While there is
                                        no standardized meaning for high-definition, generally any
                                        video.High-definition video is video of higher resolution and quality
                                        than standard-definition. While there is no standardized meaning for
                                        high-definition, generally any video.High-definition video is video of
                                        higher resolution and quality than standard-definition. While there is
                                        no standardized meaning for high-definition, generally any video.
                                    </p>
                                </div>
                                <div class="review-top">
                                    <div class="review-info">
                                        <h3 data-aos="fade-up">Julian Adrose</h3>
                                        <h5 data-aos="fade-up">Manager</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="real-reviews-grid">
                                <div class="review-content">
                                    <h3>Helps us to improve our productivity</h3>
                                    <p>
                                        High-definition video is video of higher resolution and quality than
                                        standard-definition. While there is no standardized meaning for
                                        high-definition, generally any video.High-definition video is video of
                                        higher resolution and quality than standard-definition. While there is
                                        no standardized meaning for high-definition, generally any
                                        video.High-definition video is video of higher resolution and quality
                                        than standard-definition. While there is no standardized meaning for
                                        high-definition, generally any video.High-definition video is video of
                                        higher resolution and quality than standard-definition. While there is
                                        no standardized meaning for high-definition, generally any video.
                                    </p>
                                </div>
                                <div class="review-top">
                                    <div class="review-info">
                                        <h3>Gallegos</h3>
                                        <h5>CEO & MD</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="real-reviews-grid">
                                <div class="review-content">
                                    <h3>Helps us to improve our productivity</h3>
                                    <p>
                                        High-definition video is video of higher resolution and quality than
                                        standard-definition. While there is no standardized meaning for
                                        high-definition, generally any video.High-definition video is video of
                                        higher resolution and quality than standard-definition. While there is
                                        no standardized meaning for high-definition, generally any
                                        video.High-definition video is video of higher resolution and quality
                                        than standard-definition. While there is no standardized meaning for
                                        high-definition, generally any video.High-definition video is video of
                                        higher resolution and quality than standard-definition. While there is
                                        no standardized meaning for high-definition, generally any video.
                                    </p>
                                </div>
                                <div class="review-top">
                                    <div class="review-info">
                                        <h3>William George</h3>
                                        <h5>CEO & Chairman</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 d-flex justify-content-between align-items-center">
                            <div class="owl-nav slide-nav-8 nav-control"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="client-two-carousel">
            <div class="lead-group-slider owl-carousel owl-theme">
                <div class="item">
                    <div class="lead-img">
                        <img class="img-fluid" alt="Img" src="~/assets/img/lead-01.png">
                    </div>
                </div>
                <div class="item">
                    <div class="lead-img">
                        <img class="img-fluid" alt="Img" src="~/assets/img/lead-02.png">
                    </div>
                </div>
                <div class="item">
                    <div class="lead-img">
                        <img class="img-fluid" alt="Img" src="~/assets/img/lead-03.png">
                    </div>
                </div>
                <div class="item">
                    <div class="lead-img">
                        <img class="img-fluid" alt="Img" src="~/assets/img/lead-04.png">
                    </div>
                </div>
                <div class="item">
                    <div class="lead-img">
                        <img class="img-fluid" alt="Img" src="~/assets/img/lead-05.png">
                    </div>
                </div>
                <div class="item">
                    <div class="lead-img">
                        <img class="img-fluid" alt="Img" src="~/assets/img/lead-06.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*
<div class="feature-instructors-sec">
    <div class="container">
        <div class="header-two-title text-center" data-aos="fade-up">
            <p class="tagline">New Courses</p>
            <h2>Featured Instructor</h2>
            <div class="header-two-text aos" data-aos="fade-up">
                <p class="mb-0">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget aenean accumsan
                    bibendum gravida maecenas augue elementum et neque. Suspendisse imperdiet.
                </p>
            </div>
        </div>

        <div class="featured-instructor-two">
            <div class="row">
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12" data-aos="fade-up">
                    <div class="instructors-widget">
                        <div class="instructors-img">
                            <a href="instructor-list.html">
                                <img class="img-fluid" alt="Img" src="~/assets/img/instructor/instructor-01.jpg">
                            </a>
                            <div class="featured-border">
                                <div class="featured-img ">
                                    <img src="~/assets/img/category/category-1.svg" alt="Img" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="course-details-two">
                            <div class="instructors-content text-center">
                                <h5><a href="instructor-profile.html">Julian Adrose</a></h5>
                                <p>Angular Expert</p>
                            </div>
                            <div class="course-info"></div>
                            <div class="student-count d-flex justify-content-center">
                                <i class="fa-solid fa-user-group"></i>
                                <span>50 Students</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12" data-aos="fade-up">
                    <div class="instructors-widget">
                        <div class="instructors-img">
                            <a href="instructor-list.html">
                                <img class="img-fluid" alt="Img" src="~/assets/img/instructor/instructor-02.jpg">
                            </a>
                            <div class="featured-border">
                                <div class="featured-img ">
                                    <img src="~/assets/img/category/category-2.svg" alt="Img" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="course-details-two">
                            <div class="instructors-content text-center">
                                <h5><a href="instructor-profile.html">Gallegos</a></h5>
                                <p>Docker</p>
                            </div>
                            <div class="course-info"></div>
                            <div class="student-count d-flex justify-content-center">
                                <i class="fa-solid fa-user-group"></i>
                                <span>70 Students</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12" data-aos="fade-up">
                    <div class="instructors-widget">
                        <div class="instructors-img">
                            <a href="instructor-list.html">
                                <img class="img-fluid" alt="Img" src="~/assets/img/instructor/instructor-03.jpg">
                            </a>
                            <div class="featured-border">
                                <div class="featured-img ">
                                    <img src="~/assets/img/category/category-3.svg" alt="Img" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="course-details-two">
                            <div class="instructors-content text-center">
                                <h5><a href="instructor-profile.html">Kristi</a></h5>
                                <p>Node Js</p>
                            </div>
                            <div class="course-info"></div>
                            <div class="student-count d-flex justify-content-center">
                                <i class="fa-solid fa-user-group"></i>
                                <span>60 Students</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12" data-aos="fade-up">
                    <div class="instructors-widget">
                        <div class="instructors-img">
                            <a href="instructor-list.html">
                                <img class="img-fluid" alt="Img" src="~/assets/img/instructor/instructor-04.jpg">
                            </a>
                            <div class="featured-border">
                                <div class="featured-img ">
                                    <img src="~/assets/img/category/category-4.svg" alt="Img" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="course-details-two">
                            <div class="instructors-content text-center">
                                <h5><a href="instructor-profile.html">Pinero</a></h5>
                                <p>Python</p>
                            </div>
                            <div class="course-info"></div>
                            <div class="student-count d-flex justify-content-center">
                                <i class="fa-solid fa-user-group"></i>
                                <span>80 Students</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-lg-12">
            <div class="more-details text-center" data-aos="fade-up">
                <a href="instructor-list.html" class="discover-btn discover-btn">View all Instructors <i class="fas fa-arrow-right ms-2"></i></a>
            </div>
        </div>

    </div>
</div>


<section class="latest-blog-sec">
    <div class="container">
        <div class="header-two-title text-center" data-aos="fade-up">
            <p class="tagline">Tin tức & Sự kiện</p>
            <h2>Những tin tin mới</h2>
            <div class="header-two-text text-center aos" data-aos="fade-up">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eget aenean accumsan bibendum
                    gravida maecenas augue elementum et neque. Suspendisse imperdiet.
                </p>
            </div>
        </div>
        <div class="award-winning-two">
            <div class="row justify-content-center">
                <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-down">
                    <div class="event-blog-main">
                        <div class="latest-blog-img">
                            <a href="blog-list.html">
                                <img class="img-fluid" alt="Img" src="~/assets/img/blog/blog-01.jpg">
                            </a>
                        </div>
                        <div class="latest-blog-content">
                            <div class="event-content-title">
                                <div class="event-span">
                                    <span class="span-name">Marketing</span>
                                </div>
                                <h5>
                                    <a href="blog-list.html">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit.
                                    </a>
                                </h5>
                                <div class="blog-student-count">
                                    <i class="fa-solid fa-calendar-days"></i>
                                    <span>Jun 15, 2024</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-down">
                    <div class="event-blog-main">
                        <div class="latest-blog-img">
                            <a href="blog-list.html">
                                <img class="img-fluid" alt="Img" src="~/assets/img/blog/blog-02.jpg">
                            </a>
                        </div>
                        <div class="latest-blog-content">
                            <div class="event-content-title">
                                <div class="event-span">
                                    <span class="span-name">Sales</span>
                                </div>
                                <h5>
                                    <a href="blog-list.html">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit.
                                    </a>
                                </h5>
                                <div class="blog-student-count">
                                    <i class="fa-solid fa-calendar-days"></i>
                                    <span>Jun 15, 2024</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6" data-aos="fade-down">
                    <div class="event-blog-main">
                        <div class="latest-blog-img">
                            <a href="blog-list.html">
                                <img class="img-fluid" alt="Img" src="~/assets/img/blog/blog-03.jpg">
                            </a>
                        </div>
                        <div class="latest-blog-content">
                            <div class="event-content-title">
                                <div class="event-span">
                                    <span class="span-name">Marketing</span>
                                </div>
                                <h5>
                                    <a href="blog-list.html">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing
                                        elit.
                                    </a>
                                </h5>
                                <div class="blog-student-count">
                                    <i class="fa-solid fa-calendar-days"></i>
                                    <span>Jun 15, 2024</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="more-details text-center" data-aos="fade-down">
                <a href="blog-grid.html" class="discover-btn">View all Events<i class="fas fa-arrow-right ms-2"></i></a>
            </div>
        </div>

    </div>
</section>

*@
@if (!string.IsNullOrEmpty(ViewData["PaymentMessage"] as string))
{
    <script>
        Swal.fire({
            icon: 'success',
            title: 'Thanh toán thành công!',
            text: '@ViewData["PaymentMessage"]',
            showConfirmButton: false,
            timer: 2000
        });
    </script>
}
