@model EduCourse.Models.SearchViewModel

<section class="course-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">

                <div class="showing-list">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="d-flex align-items-center">
                                <div class="view-icons">
                                    <a href="javascript:void(0);" class="grid-view" onclick="toggleView('grid')">
                                        <i class="feather-grid"></i>
                                    </a>
                                    <a href="javascript:void(0);" class="list-view active" onclick="toggleView('list')">
                                        <i class="feather-list"></i>
                                    </a>
                                    <script>
                                        function toggleView(view) {
                                            var gridContainer = document.getElementById('grid');
                                            var listContainer = document.getElementById('list');

                                            if (view === 'grid') {
                                                gridContainer.style.display = 'flex'; // Hiển thị chế độ xem lưới
                                                listContainer.style.display = 'none'; // Ẩn chế độ xem danh sách
                                            } else if (view === 'list') {
                                                listContainer.style.display = 'flex'; // Hiển thị chế độ xem danh sách
                                                gridContainer.style.display = 'none'; // Ẩn chế độ xem lưới
                                            }

                                            // Cập nhật class "active" cho nút để làm nổi bật nút đang chọn
                                            document.querySelector('.grid-view').classList.toggle('active', view === 'grid');
                                            document.querySelector('.list-view').classList.toggle('active', view === 'list');
                                        }
                                    </script>
                                    <style>

                                        #grid {
                                            display: none; /* Ẩn grid view mặc định */
                                        }
                                    </style>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="show-filter add-course-info ">
                                <form method="get" action="@Url.Action("Search", "Home")">
                                    <div class="row gx-2 align-items-center">
                                        <div class="col-md-12 col-item">
                                            <div class="search-group">
                                                <i class="feather-search"></i>
                                                <input type="text" class="form-control" name="name" placeholder="Tìm kiếm tên khóa học...." value="@Model.CourseName">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row list-view" id="list">
                    @if (Model.Courses != null && Model.Courses.Count > 0)
                    {
                        foreach (var course in Model.Courses)
                        {
                            bool isPurchased = ViewBag.PurchasedCourses.Contains(course.CourseID);
                            <div class="course-item col-lg-12 col-md-12 d-flex">
                                <div class="course-box course-design list-course d-flex">
                                    <div class="product">
                                        <div class="product-img">
                                            <a href="@Url.Action("Details", "Courses", new { id = course.CourseID })">
                                                <img class="img-fluid" alt="Img" src="@course.Image">
                                            </a>

                                            <div class="price">
                                            @{
                                                var price = course.Price * (1 - course.Discount / 100.0M);
                                            }
                                            @if (price <= 0)
                                            {
                                                <h3>Miễn phí</h3>
                                            }
                                            else
                                            {
                                                    <h3>@price.ToString("N0")đ <span>@course.Price.ToString("N0")đ</span></h3>
                                            }
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <div class="head-course-title">
                                                <h3 class="title">
                                                    <a href="@Url.Action("Detail", "Home", new { id = course.CourseID })">
                                                        @course.Title
                                                    </a>
                                                </h3>
                                                <div class="all-btn all-category d-flex align-items-center">
                                                   
                                                    @if (isPurchased)
                                                    {
                                                        <a href="javascript:void(0);" class="btn btn-primary">
                                                                     Đã mua
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        if (User.Identity.IsAuthenticated)
                                                        {
                                                            <a href="javascript:void(0);" class="btn btn-primary" onclick="checkoutSingleCourse(@course.CourseID)">
                                                                Thanh toán
                                                            </a>
                                                        }else{
                                                            <a href="/auth/login" class="btn btn-primary">
                                                                Thanh toán
                                                            </a>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                            <div class="course-info border-bottom-0 pb-0 d-flex align-items-center">
                                                <div class="rating-img d-flex align-items-center">
                                                    <img src="~/assets/img/icon/icon-01.svg" alt="Img">
                                                    <p>@course?.Chapters?.Sum(l => l.Lessons.Count()) bài học</p>
                                                </div>
                                                <div class="course-view d-flex align-items-center">
                                                    <img src="~/assets/img/icon/icon-02.svg" alt="Img">
                                                    @{
                                                        var chapters = course?.Chapters?.ToList();
                                                        double totalCourseDuration = chapters?
                                                        .Sum(chapter => chapter.Lessons.Sum(lesson => lesson.Duration)) ?? 0;

                                                        int hours = (int)(totalCourseDuration / 3600);
                                                        int minutes = (int)((totalCourseDuration % 3600) / 60);
                                                        int seconds = (int)(totalCourseDuration % 60);
                                                    }
                                                    <p>
                                                        @if (hours > 0)
                                                        {
                                                            @($"{hours} giờ{(hours > 1 ? "" : "")} ")
                                                        }
                                                        @if (minutes > 0)
                                                        {
                                                            @($"{minutes} phút{(minutes > 1 ? "" : "")} ")
                                                        }
                                                        @if (seconds > 0)
                                                        {
                                                            @($"{seconds} giây{(seconds > 1 ? "" : "")}")
                                                        }
                                                        @if (hours == 0 && minutes == 0 && seconds == 0)
                                                        {
                                                            @("0 giây")
                                                        }
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="course-group d-flex mb-0">
                                                <div class="course-group-img d-flex">
                                                    <a >
                                                        <img src="/Lotus.png" alt="Img" class="img-fluid">
                                                    </a>
                                                    <div class="">
                                                        <h6><a >@course.Author.FullName</a></h6>
                                                    </div>
                                                </div>
                                                <div class="course-share d-flex align-items-center justify-content-center">
                                                    @if (User.Identity.IsAuthenticated)
                                                    {
                                                       
                                                        if (isPurchased == false)
                                                        {
                                                            <a href="javascript:void(0);" class="btn btn-wish w-100" onclick="addToCart(@course.CourseID)">
                                                                Thêm vào giỏ
                                                            </a>
                                                        }else{
                                                                <a href="/home/detail?id=@course.CourseID" class="btn btn-wish w-100">
                                                                Xem chi tiết
                                                            </a>
                                                        }
                                                    }else{
                                                        <a href="/auth/login" class="btn btn-wish w-100">
                                                            Thêm vào giỏ
                                                        </a>
                                                    }
                                                   
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="col-lg-12">
                            <p>Không có khóa học nào.</p>
                        </div>
                    }
                </div>
                <div class="row grid-view" id="grid">
                    @if (Model.Courses != null && Model.Courses.Count > 0)
                    {
                        foreach (var course in Model.Courses)
                        {

                            <div class="col-lg-4 col-md-6 d-flex">
                                <div class="course-box course-design d-flex ">
                                    <div class="product">
                                        <div class="product-img">
                                            <a href="@Url.Action("Details", "Courses", new { id = course.CourseID })">
                                                <img class="img-fluid" alt="Img" src="@course.Image">
                                            </a>
                                            <div class="price">
                                                @{
                                                    var price = course.Price * (1 - course.Discount / 100.0M);
                                                }
                                                @if (price <= 0)
                                                {
                                                    <h3>Miễn phí</h3>
                                                }
                                                else
                                                {
                                                    <h3>@price.ToString("N0")đ <span>@course.Price.ToString("N0")đ</span></h3>
                                                }
                                            </div>
                                        </div>
                                        <div class="product-content">
                                            <div class="course-group d-flex">
                                                <div class="course-group-img d-flex">
                                                    <a href="instructor-profile.html"><img src="~/assets/img/user/user1.jpg" alt="Img" class="img-fluid"></a>
                                                    <div class="course-name">
                                                        <h4><a>@course.Author.FullName</a></h4>
                                                    </div>
                                                </div>
                                                <div class="course-share d-flex align-items-center justify-content-center">
                                                    @if (User.Identity.IsAuthenticated)
                                                    {
                                                        <a href="javascript:void(0);" class="btn btn-wish w-100" onclick="addToCart(@course.CourseID)">
                                                            Thêm vào giỏ
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <a href="/auth/login" class="btn btn-wish w-100">
                                                            Thêm vào giỏ
                                                        </a>
                                                    }
                                                </div>
                                            </div>
                                            <h3 class="title">
                                                <a href="@Url.Action("Detail", "Home", new { id = course.CourseID })">
                                                    @course.Title
                                                </a>
                                            </h3>
                                            <div class="course-info d-flex align-items-center">
                                                <div class="rating-img d-flex align-items-center">
                                                    <img src="~/assets/img/icon/icon-01.svg" alt="Img">
                                                    <p>@course?.Chapters?.Sum(l => l.Lessons.Count()) bài học</p>
                                                </div>
                                                <div class="course-view d-flex align-items-center">
                                                    <img src="~/assets/img/icon/icon-02.svg" alt="Img">
                                                    @{
                                                        var chapters = course?.Chapters?.ToList();
                                                        double totalCourseDuration = chapters?.Sum(chapter => chapter.Lessons.Sum(lesson => lesson.Duration)) ?? 0;

                                                        int hours = (int)(totalCourseDuration / 3600);
                                                        int minutes = (int)((totalCourseDuration % 3600) / 60);
                                                        int seconds = (int)(totalCourseDuration % 60);
                                                    }
                                                    <p>
                                                        @if (hours > 0)
                                                        {
                                                            @($"{hours} giờ{(hours > 1 ? "" : "")} ")
                                                        }
                                                        @if (minutes > 0)
                                                        {
                                                            @($"{minutes} phút{(minutes > 1 ? "" : "")} ")
                                                        }
                                                        @if (seconds > 0)
                                                        {
                                                            @($"{seconds} giây{(seconds > 1 ? "" : "")}")
                                                        }
                                                        @if (hours == 0 && minutes == 0 && seconds == 0)
                                                        {
                                                            @("0 giây")
                                                        }
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="all-btn all-category d-flex align-items-center">
                                                @{
                                                    bool isPurchased = ViewBag.PurchasedCourses.Contains(course.CourseID);
                                                }
                                                @if (isPurchased)
                                                {
                                                    <a href="javascript:void(0);" class="btn btn-enroll w-100">
                                                        <i class="feather-shopping-cart"></i> Đã mua
                                                    </a>
                                                }
                                                else
                                                {
                                                    if (User.Identity.IsAuthenticated)
                                                    {
                                                        <a href="javascript:void(0);" class="btn btn-primary" onclick="checkoutSingleCourse(@course.CourseID)">
                                                            Thanh toán
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <a href="/auth/login" class="btn btn-primary">
                                                            Thanh toán
                                                        </a>
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="col-lg-12">
                            <p>Không có khóa học nào.</p>
                        </div>
                    }
                </div>
            </div>

            <div class="col-lg-3 theiaStickySidebar">
                <div class="filter-clear">
                    <div class="clear-filter d-flex align-items-center">
                        <h4><i class="feather-filter"></i>Filters</h4>
                        <div class="clear-text">
                            <p><a href="@Url.Action("Search", new { courseName = "", categoryName = "", instructorName = "", price = "" })">CLEAR</a></p>
                        </div>
                    </div>

                    <!-- Phần lọc danh mục khóa học -->
                    <div class="card search-filter categories-filter-blk">
                        <div class="card-body">
                            <div class="filter-widget mb-0">
                                <div class="categories-head d-flex align-items-center">
                                    <h4>Course categories</h4>
                                    <i class="fas fa-angle-down"></i>
                                </div>
                                <div>
                                    @if (Model.Categories != null && Model.Categories.Any())
                                    {
                                        foreach (var category in Model.Categories)
                                        {
                                            <label class="custom_check">
                                                <input type="checkbox" name="category" value="@category.Name"
                                                       onchange="filterCourses()" @(Model.CategoryName.Contains(category.Name) ? "checked" : "")>
                                                <span class="checkmark"></span> @category.Name
                                            </label>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Phần lọc giảng viên -->
                    <div class="card search-filter">
                        <div class="card-body">
                            <div class="filter-widget mb-0">
                                <div class="categories-head d-flex align-items-center">
                                    <h4>Instructors</h4>
                                    <i class="fas fa-angle-down"></i>
                                </div>
                                <div>
                                    @if (Model.Instructors != null && Model.Instructors.Any())
                                    {
                                        foreach (var instructor in Model.Instructors)
                                        {
                                            <label class="custom_check">
                                                <input type="radio" name="instructor" value="@instructor.FullName"
                                                       onchange="filterCourses()" @(Model.InstructorName.Contains(instructor.FullName) ? "checked" : "")>
                                                <span class="checkmark"></span> @instructor.FullName
                                            </label>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="pagination lms-page">
                    <!-- Nút "Previous" chỉ hiện khi không phải là trang đầu -->
                    @if ((int)ViewData["CurrentPage"] > 1)
                    {
                        <li class="page-item prev">
                            <a class="page-link" href="javascript:void(0)" onclick="navigatePage('@((int)ViewData["CurrentPage"] - 1)')">
                                <i class="fas fa-angle-left"></i>
                            </a>
                        </li>
                    }

                    <!-- Hiển thị các số trang -->
                    @for (var i = 1; i <= (int)ViewData["TotalPages"]; i++)
                    {
                        <li class="page-item @(i == (int)ViewData["CurrentPage"] ? "active" : "")">
                            <a class="page-link" href="javascript:void(0)" onclick="navigatePage('@i')">@i</a>
                        </li>
                    }

                    <!-- Nút "Next" chỉ hiện khi không phải là trang cuối -->
                    @if ((int)ViewData["CurrentPage"] < (int)ViewData["TotalPages"])
                    {
                        <li class="page-item next">
                            <a class="page-link" href="javascript:void(0)" onclick="navigatePage('@((int)ViewData["CurrentPage"] + 1)')">
                                <i class="fas fa-angle-right"></i>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>

    </div>

</section>
<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/assets/js/script.js" type="b36d43511b1d467e6b338c09-text/javascript"></script>
<script src="~/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="b36d43511b1d467e6b338c09-|49" defer></script>
<script data-cfasync="false" src="~/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>

<script src="~/assets/js/bootstrap.bundle.min.js" type="c3c670991341dec57f2846ac-text/javascript"></script>

<script src="~/assets/js/owl.carousel.min.js" type="c3c670991341dec57f2846ac-text/javascript"></script>

<script src="~/assets/plugins/aos/aos.js" type="c3c670991341dec57f2846ac-text/javascript"></script>

<script src="~/assets/js/jquery.waypoints.js" type="c3c670991341dec57f2846ac-text/javascript"></script>
<script src="~/assets/js/jquery.counterup.min.js" type="c3c670991341dec57f2846ac-text/javascript"></script>

<script src="~/assets/plugins/select2/js/select2.min.js" type="c3c670991341dec57f2846ac-text/javascript"></script>

<script src="~/assets/plugins/slick/slick.js" type="c3c670991341dec57f2846ac-text/javascript"></script>

<script src="~/assets/plugins/swiper/js/swiper.min.js" type="c3c670991341dec57f2846ac-text/javascript"></script>

<script src="~/assets/js/script.js" type="c3c670991341dec57f2846ac-text/javascript"></script>
<script src="~/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="c3c670991341dec57f2846ac-|49" defer></script>
<script>
    function filterCourses() {
        // Lấy danh sách các tùy chọn đã chọn
        let selectedCategories = Array.from(document.querySelectorAll('input[name="category"]:checked')).map(checkbox => checkbox.value);
        let selectedInstructors = Array.from(document.querySelectorAll('input[name="instructor"]:checked')).map(checkbox => checkbox.value);

        // Tạo query string từ các tùy chọn lọc
        let queryString = `?categories=${selectedCategories.join(',')}&instructors=${selectedInstructors.join(',')}`;

        // Điều hướng tới URL mới với các tham số lọc
        window.location.href = `/Home/Search${queryString}`;
    }

</script>
<script>
    function checkoutSingleCourse(courseId) {
        console.log(courseId);

        document.getElementById('loading-overlay').style.display = 'block';
        $.ajax({
            url: '/Cart/CheckoutSingleCourse',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(courseId),
            success: function (response) {
                var stripe = Stripe('pk_test_51P7bRY1vJ264C6HKaJUP0nrssbUv01bbiRYNuUhbQTM2TOZEZsF6fApNwxnuylG7VYnphnJlksYfpt4y64pX7AWA002OEkCN6X');
                stripe.redirectToCheckout({ sessionId: response.sessionId });
            },
            error: function () {
                Swal.fire({
                    icon: 'error',
                    title: 'Lỗi',
                    text: 'Có lỗi xảy ra khi thanh toán. Vui lòng thử lại.'
                });

                document.getElementById('loading-overlay').style.display = 'none';
            }
        });
    }
</script>

<script>
    function addToCart(courseId) {
        $.ajax({
            url: '/Cart/AddToCart',
            type: 'POST',
            data: {
                courseId: courseId
            },
            success: function (response) {
                if (response.success) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Thành công',
                        text: response.message,
                        showConfirmButton: false,
                        timer: 1500
                    });
                } else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Lỗi',
                        text: response.message
                    });
                }
            },
            error: function () {
                Swal.fire({
                    icon: 'error',
                    title: 'Lỗi',
                    text: 'Đã xảy ra lỗi. Vui lòng thử lại sau.'
                });
            }
        });
    }
</script>

