@model ProfileViewModel

<link rel="stylesheet" href="~/assets/plugins/boxicons/css/boxicons.min.css">

<div class="breadcrumb-bar breadcrumb-bar-info">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-12">
                <div class="breadcrumb-list">
                    <h2 class="breadcrumb-title">My Profile</h2>
                    <nav aria-label="breadcrumb" class="page-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">My Profile</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-content">
    <div class="container">
        <div class="row">

            <div class="col-xl-3 col-lg-3 theiaStickySidebar">
                <div class="settings-widget dash-profile">
                    <div class="settings-menu">
                        <div class="profile-bg">
                            <div class="profile-img">
                                <a href="student-profile.html"><img src="~/assets/img/user/user16.jpg" alt="Img"></a>
                            </div>
                        </div>
                        <div class="profile-group">
                            <div class="profile-name text-center">
                                <h4><a href="student-profile.html">@Model.User.FullName</a></h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="settings-widget account-settings">
                    <div class="settings-menu">
                        <h3>Tổng quát</h3>
                        <ul>
                            <li class="nav-item active">
                                <a href="/profile" class="nav-link">
                                    <i class="bx bxs-tachometer"></i>Dashboard
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/profile/account" class="nav-link">
                                    <i class="bx bxs-user"></i>Thông tin cá nhân
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="student-courses.html" class="nav-link">
                                    <i class="bx bxs-graduation"></i>Khóa học đã mua
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/profile/StudentExam" class="nav-link">
                                    <i class="bx bxs-shapes"></i>Bài thi
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/profile/historyOrder" class="nav-link">
                                    <i class="bx bxs-cart"></i>Lịch sử mua
                                </a>
                            </li>
                        </ul>
                        <h3>Account Settings</h3>
                        <ul>
                            <li class="nav-item">
                                <a href="index-2.html" class="nav-link">
                                    <i class="bx bxs-log-out"></i>Đăng xuất
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>



            <div class="col-xl-9 col-lg-9">
                <div class="settings-widget card-details">
                    <div class="settings-menu p-0">
                        <div class="profile-heading">
                            <h3>Order History</h3>
                        </div>
                        <div class="checkout-form">

                            <div class="wishlist-tab order-tab">
                                <ul class="nav">
                                    <div class="wishlist-tab order-tab">
                                        <ul class="nav">
                                            <li class="nav-item">
                                                <a href="@Url.Action("HistoryOrder", new { timeFrame = "today", page = Model.CurrentPage })" class="@(Model.TimeFrame == "today" ? "active" : "")">Today</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="@Url.Action("HistoryOrder", new { timeFrame = "month", page = Model.CurrentPage })" class="@(Model.TimeFrame == "month" ? "active" : "")">Monthly</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="@Url.Action("HistoryOrder", new { timeFrame = "year", page = Model.CurrentPage })" class="@(Model.TimeFrame == "year" ? "active" : "")">Yearly</a>
                                            </li>
                                        </ul>
                                    </div>
                                </ul>
                            </div>

                            <style>
                                .title-course {
                                    width: 230px;
                                }
                            </style>
                            <div class="tab-content">
                                <div class="tab-pane show active" id="today">
                                    <div class="table-responsive custom-table">
                                        <table class="table table-nowrap mb-0">
                                            <thead>
                                                <tr>
                                                    <th>Order ID</th>
                                                    <th>Tên khóa học</th>
                                                    <th>Ngày mua</th>
                                                    <th>Giá</th>
                                                    <th>Phương thức thanh toán</th>
                                                    <th>Trạng thái</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.Orders)
                                                {
                                                    if (item.OrderDetails != null && item.OrderDetails.Any())
                                                    {
                                                        foreach (var detail in item.OrderDetails)
                                                        {
                                                            <tr>
                                                                <td>@item.OrderID</td>
                                                                <td><span class="title-course">@detail.Course.Title</span></td>
                                                                <td>@item.OrderDate.ToString("dd/MM/yyyy hh:mm")</td>
                                                                <td>@detail.CoursePrice</td>
                                                                <td>@item.PaymentMethod</td>
                                                                <td>@item.PaymentStatus</td>

                                                            </tr>
                                                        }
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>


                                <div class="tab-pane fade" id="month">

                                    <table class="table table-nowrap mb-0">
                                        <thead>
                                            <tr>
                                                <th>Order ID</th>
                                                <th>Tên khóa học</th>
                                                <th>Ngày mua</th>
                                                <th>Giá</th>
                                                <th>Phương thức thanh toán</th>
                                                <th>Trạng thái</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.Orders)
                                            {
                                                if (item.OrderDetails != null && item.OrderDetails.Any())
                                                {
                                                    foreach (var detail in item.OrderDetails)
                                                    {
                                                        <tr>
                                                            <td>@item.OrderID</td>
                                                            <td><span class="title-course">@detail.Course.Title</span></td>
                                                            <td>@item.OrderDate.ToString("dd/MM/yyyy hh:mm")</td>
                                                            <td>@detail.CoursePrice</td>
                                                            <td>@item.PaymentMethod</td>
                                                            <td>@item.PaymentStatus</td>

                                                        </tr>
                                                    }
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>


                                <div class="tab-pane fade" id="year">

                                    <table class="table table-nowrap mb-0">
                                        <thead>
                                            <tr>
                                                <th>Order ID</th>
                                                <th>Tên khóa học</th>
                                                <th>Ngày mua</th>
                                                <th>Giá</th>
                                                <th>Phương thức thanh toán</th>
                                                <th>Trạng thái</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.Orders)
                                            {
                                                if (item.OrderDetails != null && item.OrderDetails.Any())
                                                {
                                                    foreach (var detail in item.OrderDetails)
                                                    {
                                                        <tr>
                                                            <td>@item.OrderID</td>
                                                            <td><span class="title-course">@detail.Course.Title</span></td>
                                                            <td>@item.OrderDate.ToString("dd/MM/yyyy hh:mm")</td>
                                                            <td>@detail.CoursePrice</td>
                                                            <td>@item.PaymentMethod</td>
                                                            <td>@item.PaymentStatus</td>

                                                        </tr>
                                                    }
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="dash-pagination">
                    <div class="row align-items-center">
                        <div class="col-6">
                            <p>Page @Model.CurrentPage of @Math.Ceiling((double)Model.TotalOrders / Model.PageSize)</p>
                        </div>
                        <div class="col-6">
                            <ul class="pagination">
                                @for (var i = 1; i <= Math.Ceiling((double)Model.TotalOrders / Model.PageSize); i++)
                                {
                                    <li class="@(i == Model.CurrentPage ? "active" : "")">
                                        <a href="@Url.Action("HistoryOrder", new { page = i })">@i</a>
                                    </li>
                                }
                                @if (Model.CurrentPage < Math.Ceiling((double)Model.TotalOrders / Model.PageSize))
                                {
                                    <li>
                                        <a href="@Url.Action("HistoryOrder", new { page = Model.CurrentPage + 1 })">
                                            <i class="bx bx-chevron-right"></i>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
