@model List<Order>
<main class="w-full">
    <!-- write your code here-->
    <div class="p-7">
        <div class="flex flex-col justify-between gap-5 mb-6 sm:flex-row">
            <div>
                <h3 class="mb-1 text-xl font-semibold leading-6 text-slate-800">
                    Đơn hàng
                </h3>
                <p class="text-sm text-slate-600">
                    Những đơn hàng của người dùng
                </p>
            </div>
            <div class="flex gap-5">
                <button class="flex items-center gap-1 rounded-lg py-2.5 px-4 text-sm text-slate-600 border border-slate-200 shadow-xs">
                    <svg width="20"
                         height="20"
                         viewBox="0 0 20 20"
                         fill="none"
                         xmlns="http://www.w3.org/2000/svg">
                        <path d="M15 11.6665L15.9596 10.7069C16.3501 10.3164 16.3501 9.68326 15.9596 9.29273L15 8.33317"
                              stroke="#475569"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round" />
                        <path d="M15.8333 10L10.8333 10M3.33334 14.3886V6.05527M13.3333 14.3886C13.3333 15.3091 12.5872 16.0553 11.6667 16.0553H8.33334M13.3333 6.05527C13.3333 5.1348 12.5872 4.38861 11.6667 4.38861H8.33334M4.07551 16.5501L5.74218 17.6612C6.84977 18.3996 8.33334 17.6056 8.33334 16.2744V4.16947C8.33334 2.83831 6.84977 2.04432 5.74218 2.78272L4.07551 3.89383C3.61185 4.20294 3.33334 4.72333 3.33334 5.28058V15.1633C3.33334 15.7206 3.61185 16.2409 4.07551 16.5501Z"
                              stroke="#475569"
                              stroke-width="1.5"
                              stroke-linecap="round" />
                    </svg>
                    Export
                </button>
            </div>
        </div>
        <div class="py-5 bg-white rounded-lg">
            <div class="flex flex-col justify-between gap-4 px-5 md:flex-row md:items-center">
                <div class="flex-1">
                    <div class="relative">
                        <div class="absolute inset-y-0 left-0 flex items-center pl-4 pointer-events-none">
                            <svg width="25"
                                 height="24"
                                 viewBox="0 0 25 24"
                                 fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <circle cx="12.2669"
                                        cy="11.7666"
                                        r="8.98856"
                                        stroke="#0F172A"
                                        stroke-width="1.5"
                                        stroke-linecap="round"
                                        stroke-linejoin="round" />
                                <path d="M18.5186 18.4851L22.0426 22"
                                      stroke="#0F172A"
                                      stroke-width="1.5"
                                      stroke-linecap="round"
                                      stroke-linejoin="round" />
                            </svg>
                        </div>
                        <input type="text" id="examSearch"
                               placeholder="Tìm theo tên nguời dùng..."
                               class="w-full h-12 p-4 pl-12 border border-transparent rounded-lg ring-0 focus:ring-0 focus:border-primary bg-slate-50 placeholder:text-slate-400" />
                    </div>
                </div>
            </div>
            <!-- Tables -->
            <div class="-m-1.5 overflow-x-auto">
                <div class="p-1.5 min-w-full inline-block align-middle">
                    <table class="min-w-full divide-y divide-slate-100" id="examsTable">
                        <thead>
                            <tr>
                                <th scope="col"
                                    class="px-5 py-3 text-base font-medium capitalize text-start text-slate-900">
                                    Tên người mua
                                </th>
                                <th scope="col"
                                    class="px-5 py-3 text-sm font-medium capitalize text-start text-mainblack">
                                    Tên khóa học
                                </th>
                                <th scope="col"
                                    class="px-5 py-3 text-sm font-medium capitalize text-start text-mainblack">
                                    Giá 
                                </th>
                                <th scope="col"
                                    class="px-5 py-3 text-sm font-medium capitalize text-start text-mainblack">
                                    Ngày mua
                                </th>
                                <th scope="col"
                                    class="px-5 py-3 text-base font-medium capitalize text-start text-slate-900">
                                    Phương thức thanh toán
                                </th>
                                <th scope="col"
                                    class="px-5 py-3 text-base font-medium capitalize text-start text-slate-900">
                                    Trạng thái
                                </th>
                                <th scope="col"
                                    class="px-5 py-3 text-sm font-medium capitalize text-end text-mainblack">
                                    Action
                                </th>
                            </tr>
                        </thead>
                        <tbody class="divide-y divide-slate-100">
                            @foreach (var item in Model)
                            {
                                <tr class="course-row transition hover:bg-slate-50" data-search="@item.User.FullName">

                                    <td class="py-3 text-sm text-gray-800 whitespace-nowrap">
                                        <div class="flex items-center gap-3">
                                            <div class="shrink-0">
                                                <img src="@item.User.Image"
                                                     class="w-10 h-10 rounded-full"
                                                     alt="" />
                                            </div>
                                            <div>
                                                <h4 class="text-base font-medium leading-6 text-mainblack">
                                                    @item.User.FullName
                                                </h4>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="px-5 py-3 text-sm font-medium whitespace-nowrap text-slate-500">
                                        @foreach(var d in item.OrderDetails)
                                        {
                                            <p>@d.Course.Title <br /> </p>
                                        }
                                    </td>
                                    <td class="px-5 py-3 text-sm whitespace-nowrap text-slate-600">
                                        @item.TotalAmount.ToString("N0")
                                    </td>
                                    <td class="px-5 py-3 text-sm font-medium whitespace-nowrap text-slate-500">
                                        @item.OrderDate.ToString("dd/mm/yyyy hh:mm")
                                    </td>
                                    <td class="px-5 py-3 text-sm whitespace-nowrap text-mainblack">
                                        @item.PaymentMethod
                                    </td>
                                    <td class="px-4 py-3 whitespace-nowrap">
                                        <span class="px-4 py-2 text-sm text-green-600 bg-green-100 rounded-md">@item.PaymentStatus</span>
                                    </td>
                                    <td class="px-5 py-3 whitespace-nowrap">
                                        <div class="flex justify-end gap-2">
                                            <a href="/Admin/order/Details?id=@item.OrderID"
                                               class="inline-flex items-center justify-center w-8 h-8 text-white rounded bg-primary">
                                                <svg width="20"
                                                     height="21"
                                                     viewBox="0 0 20 21"
                                                     fill="none"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M17.6084 8.71075C18.5748 9.72748 18.5748 11.2722 17.6084 12.2889C15.9786 14.0037 13.1794 16.3332 9.99984 16.3332C6.82024 16.3332 4.02108 14.0037 2.39126 12.2889C1.42492 11.2722 1.42492 9.72748 2.39126 8.71075C4.02108 6.99595 6.82024 4.6665 9.99984 4.6665C13.1794 4.6665 15.9786 6.99595 17.6084 8.71075Z"
                                                          stroke="currentColor"
                                                          stroke-width="1.5" />
                                                    <path d="M12.4998 10.4998C12.4998 11.8805 11.3805 12.9998 9.99984 12.9998C8.61913 12.9998 7.49984 11.8805 7.49984 10.4998C7.49984 9.11913 8.61913 7.99984 9.99984 7.99984C11.3805 7.99984 12.4998 9.11913 12.4998 10.4998Z"
                                                          stroke="currentColor"
                                                          stroke-width="1.5" />
                                                </svg>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <script>
                $(document).ready(function () {
                    $('#examSearch').on('keyup', function () {
                        var searchText = $(this).val().toLowerCase();

                        $('#examsTable .course-row').filter(function () {
                            $(this).toggle($(this).attr('data-search').toLowerCase().indexOf(searchText) > -1);
                        });
                    });
                });
            </script>
            <!-- Pagination -->
            <div class="flex flex-col items-center justify-between gap-5 px-5 mt-6 md:flex-row">
                <div>
                    <p class="text-sm font-medium text-slate-600">
                        Hiện
                        @(((((ViewData["CurrentPage"] as int?) ?? 1) - 1) * ((ViewData["PageSize"] as int?) ?? 1)) + 1)
                        đến
                        @Math.Min((((ViewData["CurrentPage"] as int?) ?? 1) * ((ViewData["PageSize"] as int?) ?? 10)), (ViewData["TotalOrders"] as int?) ?? 0)
                        của @ViewData["TotalOrders"] kết quả
                    </p>
                </div>


                <nav>
                    <ul class="flex flex-wrap items-center gap-2">
                        <li>
                            <button class="flex items-center justify-center rounded-full bg-violet-100 text-primary h-7 w-7">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     width="24"
                                     height="24"
                                     viewBox="0 0 24 24"
                                     fill="none">
                                    <path d="M10.6 12.71C10.5063 12.617 10.4319 12.5064
                        10.3811 12.3846C10.3303 12.2627 10.3042 12.132 10.3042
                        12C10.3042 11.868 10.3303 11.7373 10.3811
                        11.6154C10.4319 11.4936 10.5063 11.383 10.6 11.29L15.19
                        6.71C15.2837 6.61704 15.3581 6.50644 15.4089
                        6.38458C15.4596 6.26272 15.4858 6.13201 15.4858
                        6C15.4858 5.86799 15.4596 5.73728 15.4089
                        5.61542C15.3581 5.49356 15.2837 5.38296 15.19
                        5.29C15.0026 5.10375 14.7492 4.99921 14.485
                        4.99921C14.2208 4.99921 13.9673 5.10375 13.78
                        5.29L9.18998 9.88C8.62818 10.4425 8.31262 11.205 8.31262
                        12C8.31262 12.795 8.62818 13.5575 9.18998 14.12L13.78
                        18.71C13.9662 18.8947 14.2176 18.9989 14.48 19C14.6116
                        19.0008 14.7421 18.9755 14.8639 18.9258C14.9857 18.876
                        15.0965 18.8027 15.19 18.71C15.2837 18.617 15.3581
                        18.5064 15.4089 18.3846C15.4596 18.2627 15.4858 18.132
                        15.4858 18C15.4858 17.868 15.4596 17.7373 15.4089
                        17.6154C15.3581 17.4936 15.2837 17.383 15.19 17.29L10.6
                        12.71Z"
                                          fill="currentColor" />
                                </svg>
                            </button>
                        </li>
                        @for (int i = 1; i <= Math.Ceiling((double)(ViewData["TotalOrders"] as int? ?? 0) / (ViewData["PageSize"] as int? ?? 1)); i++)
                        {
                            <li>
                                <a href="/admin/order?page=@i?pageSize=@ViewData["PageSize"]"
                                   class="flex items-center justify-center text-sm rounded-full @(i == (ViewData["CurrentPage"] as int?) ? "text-white bg-primary" : "text-primary") h-7 w-7">
                                    @i
                                </a>
                            </li>
                        }
                        <li>
                            <button class="flex items-center justify-center rounded-full bg-violet-50 text-primary h-7 w-7">
                                <svg width="7"
                                     height="12"
                                     viewBox="0 0 7 12"
                                     fill="none"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.16662 5.40832C4.24473 5.48579 4.30672 5.57796 4.34903 5.67951C4.39134 5.78106 4.41312 5.88998 4.41312 5.99999C4.41312 6.11 4.39134 6.21892 4.34903 6.32047C4.30672 6.42202 4.24473 6.51419 4.16662 6.59166L0.341621 10.4083C0.263514 10.4858 0.201518 10.578 0.159211 10.6795C0.116903 10.7811 0.0951224 10.89 0.0951224 11C0.0951224 11.11 0.116903 11.2189 0.159211 11.3205C0.201518 11.422 0.263514 11.5142 0.341621 11.5917C0.497756 11.7469 0.708966 11.834 0.929121 11.834C1.14928 11.834 1.36049 11.7469 1.51662 11.5917L5.34162 7.76666C5.80979 7.29791 6.07275 6.66249 6.07275 5.99999C6.07275 5.33749 5.80979 4.70207 5.34162 4.23332L1.51662 0.408324C1.3614 0.25437 1.15191 0.167576 0.933289 0.166656C0.823617 0.166022 0.714897 0.187043 0.613366 0.228513C0.511835 0.269984 0.419488 0.331089 0.341622 0.408324C0.263515 0.485793 0.201519 0.57796 0.159212 0.679509C0.116904 0.781059 0.0951233 0.88998 0.0951233 0.99999C0.0951233 1.11 0.116904 1.21892 0.159212 1.32047C0.201519 1.42202 0.263514 1.51419 0.341622 1.59166L4.16662 5.40832Z"
                                          fill="currentColor" />
                                </svg>
                            </button>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- write your code here-->
</main>

<script src="~/admin/assets/js/main.js"></script>